:root {
    --bleu: #0A1F44;
    --orange: #ff9800;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f7f9fc;
}

/* HEADER */
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: var(--bleu);
    height: 90px;
    color: white;
}

#top-logo { height: 60px; }

.tab-btn {
    background: #1a3a6e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-btn.active { background: var(--orange); }

/* SLIDER (C'est ici que ça se joue) */
.slider {
    position: relative;
    width: 100%;
    height: 400px; /* Hauteur fixe pour éviter que l'image soit géante */
    background: #000;
    overflow: hidden;
}

.slide {
    display: none; /* On cache tout par défaut */
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image remplit le cadre sans se déformer */
}

.slide.active {
    display: block; /* On n'affiche que celle qui a la classe active */
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.next { right: 0; }
.prev { left: 0; }

/* PAGES */
.tab-content { display: none; padding: 20px; }
.tab-content.active { display: block; }
